OPENROUTER_API_KEY = 
OR_APP_NAME = CoScientist
OPENAI_API_KEY = 
FEDOTMAS_DEFAULT_MODEL= openai/gpt-oss-120b
TAVILY_API_KEY=

MODEL = openrouter/qwen/qwen3-235b-a22b-2507 


MCP_URLS={"paper_search":"http://1.1.1.1/mcp","chem_utils":"http://1.1.1.1/mcp","auto_ml":"http://10.64.4.245:8777/mcp","generative_models":"http://10.32.2.2:7777/mcp"}